li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
}

input#input-url {
    width: calc(100% - 20px);
    height: 50px;
    font-size: 1.5rem;
    margin: 0px 10px 0px 10px;
    text-align: center;
}